<form method="post" action="{{ path('app_ejemplar_delete', {'id': ejemplar.id}) }}" onsubmit="return confirm('¿Estas seguro que quires borrar este ejemplar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ejemplar.id) }}">
    <button class="btn">Borrar</button>
</form>
