<form method="post" action="{{ path('app_libro_delete', {'id': libro.id}) }}"
      onsubmit="return confirm('¿Estas seguro que quieres borrar este libro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ libro.id) }}">
    <button class="btn">Borrar</button>
</form>
